<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %level{10} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CHAT" class="ch.qos.logback.core.FileAppender">
        <file>lq2bot/logs/chat/latest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>lq2bot/logs/chat/%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %level{10} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="BAN" class="ch.qos.logback.core.FileAppender">
        <file>lq2bot/logs/ban/latest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>lq2bot/logs/ban/%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %level{10} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MEME" class="ch.qos.logback.core.FileAppender">
        <file>lq2bot/logs/meme/latest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>lq2bot/logs/meme/%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %level{10} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="CHAT" level="DEBUG">
        <appender-ref ref="CHAT"/>
    </logger>

    <logger name="BAN" level="DEBUG">
        <appender-ref ref="BAN"/>
    </logger>

    <logger name="MEME" level="DEBUG">
        <appender-ref ref="MEME"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
